SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

SPOTIFY_REDIRECT_URI=http://127.0.0.1:8000/api/auth/callback

CLIENT_ORIGIN=http://127.0.0.1:5173

SERVER_PORT=8000

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=jungle
POSTGRES_PASSWORD=jungle
POSTGRES_DB=jungle_music

DEV_TOOLS=true
